
#Created by Constraints Editor (xc6slx9-ftg256-2) - 2020/02/01
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50 %;

# PlanAhead Generated physical constraints 

NET "clk" LOC = T8;

# PlanAhead Generated IO constraints 


